.badge {
    display: inline-block;
    margin: 2%;
    opacity: 0.5;
    transition: 0.5s;
}

.badge:hover {
    opacity: 1;
}

.badge-img {
    cursor: pointer;
    width: 100px;
    height: 100px;
}